<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/global.css">
    <link rel="stylesheet" href="css/createPost.css">
    <title>Document</title>
</head>
    <body>
        <%- include('partials/navbar') %>
        <main>
            <input type="text" id="title" placeholder="Add a title for your blog">
            <tinymce-editor id="tinymce-editor"
            api-key=<%=TINY_KEY%>>
            </tinymce-editor>
            <button type="submit" id="savePost">Publish</button>
        </main>
        <%- include('partials/footer') %>

        <script src="https://cdn.jsdelivr.net/npm/@tinymce/tinymce-webcomponent@2/dist/tinymce-webcomponent.min.js"></script>
        <script src="javascript/AddPost.js"></script>
    </body>
</html>
