<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/global.css">
    <link rel="stylesheet" href="css/register.css">
    <title>Document</title>
</head>
<body>
    <%- include('partials/navbar') %>
    <main>
        <h2>Register</h2>
        <div class="form">    
            <input id="name" type="text" placeholder="Name" />
            <input id="email" type="text" placeholder="Email" />
            <input id="password" type="password" placeholder="Password" />
            <input id="confirm_password" type="password" placeholder="Confirm Password" />
            <p id="error"></p>
            <button id="submit" type="submit">Submit</button>
            <p>Already have an account? <a href="http://localhost:3000/login">Login</a></p>
        </div>
    </main>
    <%- include('partials/footer') %>

    <script src="javascript/register.js"></script>
</body>
</html>